#display-grid {
    width: 100%;
    height: 100%;
    background-size: 48px 48px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
    position: relative;
}

#display-grid > .tile {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 50% 50%;
    user-select: none;
    cursor: move;
}

.tile {
    background-size: 100%;
}

.e-tile {
    background-image: url(http://localhost:8080/images/tiles/stone_floor_2x2.stl.png);
}

.ea-tile {
    background-image: url(http://localhost:8080/images/tiles/stone_floor_3x3.stl.png);
}

.u-tile {
    background-image: url(http://localhost:8080/images/tiles/stone_floor_4x4.stl.png);
}

.r-tile {
    background-image: url(http://localhost:8080/images/tiles/stone_floor_2x4.stl.png);
}

.s-tile {
    background-image: url(http://localhost:8080/images/tiles/stone_floor_1x2.stl.png);
}

.sa-tile {
    background-image: url(http://localhost:8080/images/tiles/stone_floor_1x3.stl.png);
}

.sb-tile {
    background-image: url(http://localhost:8080/images/tiles/stone_floor_1x4.stl.png);
}

#display-grid > .tile:hover {
    border: 2px solid yellow;
}

#display-grid > .tile > .content {
    display: none
}