#display-grid {
    width: 100%;
    height: 100%;
    background-size: 48px 48px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
    position: relative;
}

#display-grid > .tile {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 50% 50%;
    user-select: none;
    cursor: move;
}

.tile {
    background-size: 100%;
    box-shadow: inset 3px #000
}

.e-tile {
    background-image: url(http://localhost:8080/images/tiles/stone_floor_2x2.png);
}

.e-edge-wall-tile {
    background-image: url(http://localhost:8080/images/tiles/edge_wall_2x2.png);
}

.ea-tile {
    background-image: url(http://localhost:8080/images/tiles/stone_floor_3x3.png);
}

.ea-edge-wall-tile {
    background-image: url(http://localhost:8080/images/tiles/edge_wall_3x3.png);
}

.u-tile {
    background-image: url(http://localhost:8080/images/tiles/stone_floor_4x4.png);
}

.u-edge-wall-tile {
    background-image: url(http://localhost:8080/images/tiles/edge_wall_4x4.png);
}

.r-tile {
    background-image: url(http://localhost:8080/images/tiles/stone_floor_2x4.png);
}

.r-edge-wall-tile {
    background-image: url(http://localhost:8080/images/tiles/edge_wall_2x4.png);
}

.s-tile {
    background-image: url(http://localhost:8080/images/tiles/stone_floor_1x2.png);
}

.s-edge-wall-tile {
    background-image: url(http://localhost:8080/images/tiles/edge_wall_1x2.png);
}

.sa-tile {
    background-image: url(http://localhost:8080/images/tiles/stone_floor_1x3.png);
}

.sa-edge-wall-tile {
    background-image: url(http://localhost:8080/images/tiles/edge_wall_1x3.png);
}

.sb-tile {
    background-image: url(http://localhost:8080/images/tiles/stone_floor_1x4.png);
}

.sb-edge-wall-tile {
    background-image: url(http://localhost:8080/images/tiles/edge_wall_1x4.png);
}

.half-tile.even {
    transform-origin: 0 50% !important;
}

#display-grid > .tile:hover {
    outline: 2px solid yellow;
}

#display-grid > .tile > .content {
    display: none
}