#part-dashboard {
  overflow-y: auto;
  max-height: 100vh;
}

#part-dashboard > .tile {
  margin-bottom: 1em;
  text-align: center;
  cursor: pointer;
}

#part-dashboard > .tile.half-tile {
  float: left;
  margin-right: 1rem;
}

#part-dashboard > .tile > .content {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  cursor: pointer;
}
